@import "../../../styles/variables";

.wrapper {
    .wrapperContent {
      width: 90%;
      margin: 0 auto;
  
      .titleSection {
        display: flex;
        align-items: center;
        width: 100%;
      
        .title {
          white-space: nowrap;
          margin-right: 20px;
      
          h1 {
            font-size: 50px;
            font-family: "Durk Wide Cyr", sans-serif;
            font-weight: 900;             // жирность как было
            -webkit-text-stroke: 4px black;
          }
        }
      
        .lineSection {
          flex-grow: 1;
          height: 2px;
          background-color: $Night-Color;
          margin: 0 20px;
        }
      
        .buttonsSection {
          display: flex;
          gap: 16px;
          margin-left: 20px;
        }
      }
      
          
          .buttons {
            display: flex;
            gap: 16px;
  
            button {
              font-family: "Random Grotesque Spacious Book";
              font-size: 20px;
              height: 41px;
              width: 218px;
              outline: none;
              border: none;
  
              &:hover {
                cursor: pointer;
              }
            }
  
            .orderHistoryButton {
              background-color: $Night-Color;
              color: $Bone-Color;
            }
  
            .logoutButton {
              background-color: $Khaki-Color;
              color: $Night-Color;
            }
          }
        }
      }
