:root {
    --font-slim: "Random Grotesque Slim";
    --font-spacious: "Random Grotesque Spacious";
    --font-standard: "Random Grotesque Standard";

    --font-weight-book: 350;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --font-primary: --font-standard, sans-serif;
    --font-secondary: --font-slim, sans-serif;

    --Bone-Color: #d9cdbf;
    --Khaki-Color: #bfb3a4;
    --Battleship-gray-color: #8c8072;
    --Walnut-brown: #595147;
    --Night-Color: #0b0b0d;
}
