@import "../../../styles/variables.scss";
// @import "../../../../public/fonts/RG-SlimBook.woff";

@font-face {
  font-family: 'RG-SlimBook';
  src: url('../../../../public/fonts/RG-SlimBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Подключение шрифта RG-StandardSemiBold
// @font-face {
//   font-family: 'Druk Wide Cyr';
//   src: url('/fonts/RG-StandardSemiBold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Druk Wide Cyr';
//   src: url('/fonts/RG-SlimBook.woff') format('woff'),
//        url('/fonts/RG-StandardSemiBold.woff') format('woff');
//   font-style: normal;
//   font-display: swap;
// }


.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}

.topRow {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  background: white;
}

.title {
  font-size: 50px;
  font-family: "Druk Wide Cyr", sans-serif;
  font-weight: 900;
  color: black;
  -webkit-text-stroke: 5px black; 
  -webkit-text-fill-color: black;
  transform: scaleX(0.9);
  display: inline-block;
}

.horizontalLine {
  flex-grow: 1;
  height: 2px;
  background-color: black;
  margin: 0 15px;
  min-width: 20px;
}

.buttons {
  display: flex;
  .orderHistoryButton{
    margin-right: 40px;
  }
  flex-shrink: 0; 
}

.orderHistoryButton,
.logoutButton {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  height: 41px;
  width: 218px;
}

.orderHistoryButton {
  margin-left: 30px;
  background-color: $Night-Color;
  a {
    color: white;
    font-family: "Random Grotesque Slim";
    font-weight: 100; /* стандартный */
    font-size: 20px;
    text-decoration: none;
    text-shadow:
      -0.5px 0 white,
      0.5px 0 white;
  }

}

.logoutButton {
  color: $Night-Color;
  font-size: 20px;
  font-weight: $font-weight-book;
  background-color: $Khaki-Color;
  color: white;
}

.wrapperContent {
  margin-left: 40px;
  max-width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.contentSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.fullnameSection,
.phoneSection,
.mailSection {
  margin-bottom: 20px;
  width: 100%;
}

.titleEditBlock {
  font-weight: bold;
  margin-bottom: 5px;
}

.valueText {
  margin-top: 0;
}

.mobileBottomLine {
  display: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
  width: 100%;
}

.buttonsMobile {
  display: none;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 767px) {
  .title {
    width: 50%;
  }

  .buttons {
    display: none;
  }

  .mobileBottomLine {
    display: none; 
  }

  .buttonsMobile {
    border-top: 2px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; // ⬅️ это выровняет кнопки по центру
    padding: 30px 0;
    gap: 10px;
  }

  .orderHistoryButton, 
  .logoutButton {
    font-family: "Random Grotesque Slim";
    width: 100%;
    font-weight: 100;

  }

  .orderHistoryButton{
    margin: 0;
    padding: 0;
  }

  .wrapperContent {
    max-width: 100%;
    padding: 0 20px;
  }

}
