.wrapper {
    height: 645px;
    width: 100vw;
    background-image: url("../../../../public/succeedBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box; // Для старых Safari
    display: -ms-flexbox; // Для IE10
    display: flex;

    .wrapperContent {
        margin: 0 auto;
        margin-top: 5%;

        .titleBlock {
            display: -webkit-box; // Для старых Safari
            display: -ms-flexbox; // Для IE10
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 20px;

            .titleWrapper {
                overflow-x: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 90vw;
                gap: 40px;

                .title {
                    position: relative;
                    display: inline-block;
                    white-space: nowrap;
                    color: white;
                    font-size: 70px;
                    padding: 0 120px;

                    h1 {
                        margin: 0;
                    }

                    &:before,
                    &::before {
                        // Поддержка IE8-9
                        right: 100%;
                    }

                    &:after,
                    &::after {
                        // Поддержка IE8-9
                        left: 100%;
                    }

                    &:before,
                    &:after,
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 70%;
                        height: 2px;
                        background-color: #fff;
                        -webkit-transform: translateY(
                            -50%
                        ); // Центрирование по вертикали
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
