.wrapper{
    .topRow{
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .title {
        margin-left: 10px;
        font-size: 50px;
        font-family: "Druk Wide Cyr", sans-serif;
        font-weight: 900;
        color: black;
        -webkit-text-stroke: 5px black; 
        -webkit-text-fill-color: black;
        display: inline-block;
    }

    .horizontalLine{
        flex-grow: 1;
        height: 2px;
        background-color: black;
        margin: 0 100px;
        min-width: 20px
    }

    .aboutSection{
        margin-left: 10px;
          p{
                font-family: "Grotesque Spacious Book";
                font-size: 20px;
                font-weight: 350;
                
            }
        .welcomeText{
            width: 90%;}
            .secondTextBlock{
                margin-top: 50px;
            }
        }
        .smallTitle{

            h1{
                font-size: 20px;
                font-family: "Random Grotesque Spacious Black" sans-serif;
                font-style: italic;
                font-weight: 900;
            }
        }
        .contentTextBlock{
            margin-top: 10px;
            margin-bottom: 150px;
            p{
                margin-top: 30px;
            }
          
        }
}
