$font-slim: 'Random Grotesque Slim';
$font-spacious: 'Random Grotesque Spacious';
$font-standard: 'Random Grotesque Standard';

@mixin font-face($family, $filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('../assets/fonts/RandomGrotesque/#{$filename}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Slim
@include font-face($font-slim, 'RG-SlimBook', 350);
@include font-face($font-slim, 'RG-SlimBlackItalic', 900, italic);

// Spacious
@include font-face($font-spacious, 'RG-SpaciousBook', 350);
@include font-face($font-spacious, 'RG-SpaciousBlackItalic', 900, italic);

// Standard
@include font-face($font-standard, 'RG-StandardBook', 400);
@include font-face($font-standard, 'RG-StandardBookItalic', 400, italic);
@include font-face($font-standard, 'RG-StandardMedium', 500);
@include font-face($font-standard, 'RG-StandardMediumItalic', 500, italic);
@include font-face($font-standard, 'RG-StandardSemibold', 600);
@include font-face($font-standard, 'RG-StandardSemiboldItalic', 600, italic);
@include font-face($font-standard, 'RG-StandardBold', 700);
@include font-face($font-standard, 'RG-StandardBoldItalic', 700, italic);